<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="GET" type="" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>
