<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".png" />
      <remove fileExtension=".jpg" />
      <remove fileExtension=".jpeg" />
      <remove fileExtension=".pdf" />
      <remove fileExtension=".gif" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
    </staticContent>
    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="GET" type="" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
    </handlers>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
